/* .home{
    background-color: rgba(204, 204, 204, 0.35);
    height: 500px;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    width:100%;
    position:absolute;
    top:0;
    z-index:-100;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

h2 {
    margin-top: 3rem;
}

p {
    margin-bottom: .25rem;
}

.homeBody {
    height: 100vh;
    background-image: url("../wind_turbine_home.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */