/**
*   button border radius
*/

.btn, .jumbotron, .nav :hover {
    border-radius: 0px;
}

/**
*   product image on card
*/


.product-img {
    min-height: 100px
}

.jumbotron h2 {
    margin-top: 30px
}

@media only screen and (max-width: 600px) {
    .jumbotron h2 {
        margin-top: 30px;
    }
}

/**
*   jumbotron animation
*/

.jumbotron {
    width: 30wh;
    height: 30vh;
    color: #fff;
    background: #e73c7e;
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    /*background: linear-gradient(-45deg, #ffffff, #636363, #696969, #c6c6c6, );
    /*background: linear-gradient(-45deg, rgba(255, 255, 255, .3), rgba(99, 99, 99, .3), rgba(99, 99, 99, .3),rgba(255, 255, 255, .3), );*/
    /*background-image: url("./wind_turbine_home_2.jpg");*/
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}
 
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 
@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/**
*   Single product page - product name
*/

.name {
    background: rgb(85, 147, 255);
    color: #fff;
    font-weight: bold;
}

body {
    background: rgb(243, 243, 243);
}

